.app {
    font-family: "Helvetica";
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(rgb(103, 183, 255), rgb(179, 219, 255));
    background-attachment: fixed;
}

.body {
    flex-grow: 1;
    margin-left: 2vw;
    margin-right: 2vw;
}

@media screen and (min-width: 992px) {
    .body {
        margin-left: 13vw;
        margin-right: 13vw;
    }
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}