.ruleBody {
    background-color: white;
    border-style: solid;
    border: black;
}

.ruleHeader {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
}

.ruleBody a {
    text-decoration: none;
    color:black;
}

.ruleBody a:hover {
    text-decoration: underline;
}

.ruleContainer {
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.indented {
    margin-left: 0.75em;
    padding-left: 0.25em;
    border-left: 1px solid lightgrey;
}