.navLink {
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-top: 1.5vh;
}

.navLink a:visited {
    color: black;
}

.navLink:hover {
    text-decoration: underline;
}

.navLinkContainer {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.navLinkHome {
    height: 100%;
}