.navLink {
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-top: 1.5vh;
}

.navLink:last-child {
    text-align: right;
}

.navLink a:visited {
    color: black;
}

.navLink:hover {
    text-decoration: underline;
}

.navLinkContainer {
    margin: 5px;
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    height: 6vh;
}

.navLinkContainer * {
    flex-basis: 0;
    flex-grow: 1;
}

.navLinkHome {
    flex-grow: 0;
}