.searchBarContainer {
    display: flex;
    height: 5vh;
    gap: 5px;
    padding-top: .75em;
}

@media screen and (min-width: 992px) {
    .searchBarContainer {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.searchBarContainer form {
    flex-grow: 1
}