.topBar {
    /* height: 4vh; */
    border-bottom: 2px solid black;
    background: lightblue;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: right;
}

.topBarLink {
    /* float: right; */
    padding-left: .5em;
    padding-right: .5em;
}

.topBarLink:first-child {
    float: left
}

.topBar a {
    text-decoration: none;
}

.topBar a:visited,.topBar a:link {
    color: blue;
}

.topBar a:hover {
    text-decoration: underline;
}