.topBar {
    border-bottom: 2px solid black;
    background: rgb(99, 102, 255);
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: right;
    width: 100% !important;
}

.topBarLink {
    padding-left: .5em;
    padding-right: .5em;
}

.topBarLink:first-child {
    float: left
}

.topBar a {
    text-decoration: none;
    color: black;
}

.topBar a:visited,.topBar a:link {
    color: black;
}

.topBar a:hover {
    text-decoration: underline;
}